1. What are data structures, and why are they important

---
  Data structures are ways to store and organize data in a program so that it can be used efficiently.

  They are important in python because
> Organize data logically

> Make code clean and easy to manage

> Handle complex data in real-world applications

eg:
   # Using a list
    fruits = ["apple", "banana", "cherry"]

    fruits.append("orange")  # Add a new item

    print(fruits)

2. Explain the difference between mutable and immutable data types with examples

---

Mutability means an object value is changed after created
 eg: List, Dic, Set



   

   list	  -   Mutable	    -   [1, 2, 3] → can be changed

   dict	  -  Mutable	    -   {"a": 1} → can be changed

   set	  -   Mutable	    -   {1, 2, 3}

   Immutability means an object value is not changed after created
   eg: int, str

   int	      Immutable	          5 can't be changed

   str	      Immutable	         "hello" → can't be changed

3. What are the main differences between lists and tuples in Python

---



> Lists are mutable but Tuples are Immutable


> Lists is denoted by Square brackets[] nut Tuples are denoted with paranthesis()

> Need to use list for changeable collections but tuples for fixed collections that shouldn't be modified

#

> my_list = [1, 2, 3]

   my_list[0] = 10          # Allowed

   my_list.append(4)        # Allowed

   print(my_list)           # Output: [10, 2, 3, 4]




> my_tuple = (1, 2, 3)

  my_tuple[0] = 10       # Error: tuples are immutable

  print(my_tuple)          # Output: (1, 2, 3)

4. Describe how dictionaries store data

---
A dictionary in Python is a collection of key-value pairs.

It stores data as below:

> When you add a key-value pair, Python computes a hash for the key.

> This hash is used to find a slot (position) in memory to store the value.

> When you access a value by key, Python:

  Computes the hash of the key.

  Looks up the value directly at the corresponding memory slot




> my_dict = {
    "name": "Alice",

    "age": 25,

    "city": "New York"
    
}

print(my_dict["age"])  # Output: 25



> Here, "age" is the key, and 25 is the value stored.

5. Why might you use a set instead of a list in Python

---
A set is an unordered collection of unique elements, while a list is an ordered collection that can have duplicates.



my_list = [1, 2, 2, 3, 4, 4, 5]

my_set = set(my_list)

print(my_set)  # Output: {1, 2, 3, 4, 5}

Set removes duplicates automatically.

6. What is a string in Python, and how is it different from a list

---



> A string is a sequence of characters enclosed within single ('...') or double

("...") quotes.

Example: "Hello, World!"

Strings represent textual data.

Strings are immutable, meaning once created, you cannot change their content.

s = "Hello"

s[0] = "h"  # Error! Strings are immutable

print(s[0])   # Output: H

> Lists is Mutable sequences of elements, used for collections of items

lst = ['H', 'e', 'l', 'l', 'o']

lst[0] = 'h'  # Allowed! Lists are mutable

print(lst)    # Output: ['h', 'e', 'l', 'l', 'o']

7. How do tuples ensure data integrity in Python

---

No accidental modification Because you can’t change elements inside a tuple, the data remains constant throughout the program

Safe to use as keys because Tuples can be used as keys in dictionaries or elements in sets (unlike lists), which require immutable objects.

Predictable behavior Since tuples don't change, functions or parts of code that use them can rely on their contents remaining the same.

eg:

person = ("Alice", 30, "Engineer")

person[1] = 31  # Error! Tuples are immutable

print(person)     # Output: ('Alice', 30, 'Engineer')

8. What is a hash table, and how does it relate to dictionaries in Python

---
Hash table is a data structure that stores key-value pairs and allows fast data retrieval.

Hash table relate to Python Dictionaries as:

Python dictionaries are implemented using hash tables under the hood

When you access a value by key Python hashes the key and looks up the value directly at that memory location.

9. Can lists contain different data types in Python

---
Yes, In Python, lists can contain different data types all at once

eg:
my_list = [1, "hello", 3.14, True, [2, 3]]

print(my_list)

10. Explain why strings are immutable in Python

---
Strings are immutable to ensure safety, performance, consistency, and usability as dictionary keys

Any change to a string creates a new string object rather than modifying the existing one.

11. What advantages do dictionaries offer over lists for certain tasks

---
The dictionary lookup is simpler and faster.

Store data as pairs (key:value), making it easier to organize and retrieve related data.

Access items by meaningful keys, not numeric positions (indexes)

12. Describe a scenario where using a tuple would be preferable over a list

---

Scenario: Storing Fixed Configuration Data

We’re writing a program that needs to store the days of the week.

These days never change (Monday, Tuesday, Wednesday, etc.).

We want to make sure the data remains constant throughout your program.

We don’t need to add or remove days dynamically.

13.  How do sets handle duplicate values in Python

---
Sets automatically remove duplicate values.

When you add elements to a set, any duplicates are ignored, so only unique elements remain.

eg: my_list = [1, 2, 2, 3, 4, 4, 5]

my_set = set(my_list)

print(my_set)  # Output: {1, 2, 3, 4, 5}

14. How does the “in” keyword work differently for lists and dictionaries

---
# in with Lists

Checks if a value exists anywhere in the list.

Searches each element one by one (linear search).


Example:

my_list = [10, 20, 30, 40]

print(20 in my_list)  # True

print(50 in my_list)  # False

# in with Dictionaries

Checks if the key exists in the dictionary.

Looks up keys using a hash table (very fast).


Example:

my_dict = {'a': 1, 'b': 2, 'c': 3}

print('b' in my_dict)  # True

print('z' in my_dict)  # False

15.  Can you modify the elements of a tuple? Explain why or why not

---
No, We cannot modify the elements of a tuple in Python because tuples are immutable.

Any attempt to modify an element results in a TypeError.

eg:  t = (1, 2, 3)

 t[0] = 10  # TypeError: 'tuple' object does not support item assignment

16. What is a nested dictionary, and give an example of its use case

---
A nested dictionary is a dictionary where one or more values are themselves dictionaries.

Example Use Case: Student Records

Imagine you want to store information about students and their subjects with grades.

students = {

    "Alice": {

        "Math": 85,

        "English": 92,

        "Science": 78

    },
    "Bob": {

        "Math": 90,

        "English": 88,

        "Science": 95
    }
}


print(students["Alice"]["Math"])  # Output: 85

students["Bob"]["History"] = 89

17. Describe the time complexity of accessing elements in a dictionary

---
Accessing elements in a dictionary typically has average-case time complexity of O(1) (constant time).

A dictionary uses a hash function to compute an index for a given key.However, with a good hash function and proper resizing, collisions are minimized and lookups remain practically O(1).

18. In what situations are lists preferred over dictionaries

---
situations are lists preferred over dictionaries:-

When We care about the order of elements, and the order matters

If We need to access elements by their numeric position

When We want to store a sequence of items without associating each with a unique key

19. Why are dictionaries considered unordered, and how does that affect data retrieval

---
Dictionaries in Python were considered unordered because:-

The language did not guarantee that the order of items in a dictionary would be preserved.

If we inserted items in a certain order, iterating over the dictionary might return them in a completely different sequence.

20. Explain the difference between a list and a dictionary in terms of data retrieval.

---



# List: Index-Based Retrieval

We retrieve data by position (index).

Syntax: list[index]

Time complexity: O(1) — constant time (very fast)

# Dictionary: Key-Based Retrieval

We retrieve data using a key (not position).

Syntax: dict[key]

Time complexity: O(1) (average case, due to hashing)

# Practial based Questions

1. Write a code to create a string with your name and print it

---

In [2]:

my_name = "Sneha"
print("My name is", my_name)

My name is Sneha

2. Write a code to find the length of the string "Hello World"

---

In [3]:

text = "Hello World"
length = len(text)
print("Length of the string is:", length)

Length of the string is: 11

3. Write a code to slice the first 3 characters from the string "Python Programming"

---

In [4]:

text = "Python Programming"
sliced_text = text[:3]
print("First 3 characters:", sliced_text)

First 3 characters: Pyt

4. Write a code to convert the string "hello" to uppercase

---

In [5]:

text = "hello"
upper_text = text.upper()
print("Uppercase:", upper_text)

Uppercase: HELLO

5. Write a code to replace the word "apple" with "orange" in the string "I like apple"

---

In [6]:

text = "I like apple"
new_text = text.replace("apple", "orange")
print(new_text)

I like orange

6. Write a code to create a list with numbers 1 to 5 and print it

---

In [7]:

numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4]

---

In [8]:

numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

---

In [9]:

numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']

---

In [10]:
letters = ['a', 'b', 'c', 'd']
second_element = letters[1]
print("Second element:", second_element)

Second element: b

10. Write a code to reverse the list [10, 20, 30, 40, 50].

---

In [12]:
numbers = [10, 20, 30, 40, 50]
reversed_numbers = numbers[::-1]
print(reversed_numbers)

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

---

In [13]:

my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

12.  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

---

In [14]:

colors = ('red', 'green', 'blue', 'yellow')
second_to_last = colors[-2]
print("Second-to-last element:", second_to_last)

Second-to-last element: blue

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

---

In [15]:

numbers = (10, 20, 5, 15)
min_number = min(numbers)
print("Minimum number:", min_number)

Minimum number: 5

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

---

In [16]:

animals = ('dog', 'cat', 'rabbit')
index_cat = animals.index('cat')
print("Index of 'cat':", index_cat)

Index of 'cat': 1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

---

In [17]:

fruits = ('apple', 'banana', 'orange')
if 'kiwi' in fruits:
    print("Kiwi is in the tuple.")
else:
    print("Kiwi is NOT in the tuple.")

Kiwi is NOT in the tuple.

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

---

In [19]:

my_set = {'a', 'b', 'c'}
print(my_set)

{'a', 'b', 'c'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

---

In [20]:

numbers = {1, 2, 3, 4, 5}
numbers.clear()
print(numbers)

set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

---

In [22]:

numbers = {1, 2, 3, 4}
numbers.remove(4)
print(numbers)

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

---

In [23]:

set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print("Union of the sets:", union_set)

Union of the sets: {1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

---

In [24]:

set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print("Intersection of the sets:", intersection_set)

Intersection of the sets: {2, 3}

21.  Write a code to create a dictionary with the keys "name", "age", and "city", and print it

---

In [25]:
# Create the dictionary
person = {
    "name": "Sneha",
    "age": 25,
    "city": "Noida"
}

# Print the dictionary
print(person)

{'name': 'Sneha', 'age': 25, 'city': 'Noida'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

---

In [26]:

person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

---

In [27]:

person = {'name': 'Alice', 'age': 30}
name_value = person['name']
print("Name:", name_value)

Name: Alice

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

---

In [28]:

person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
person.pop('age', None)
print(person)

{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

---

In [29]:

person = {'name': 'Alice', 'city': 'Paris'}
if 'city' in person:
    print("Key 'city' exists in the dictionary.")
else:
    print("Key 'city' does NOT exist in the dictionary.")

Key 'city' exists in the dictionary.

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

---

In [30]:

my_list = [1, 2, 3]
my_tuple = ('a', 'b', 'c')
my_dict = {'name': 'Alice', 'age': 30}
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3]
Tuple: ('a', 'b', 'c')
Dictionary: {'name': 'Alice', 'age': 30}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

---

In [33]:
import random
numbers = sorted([random.randint(1, 100) for _ in range(5)])
print(numbers)

[48, 53, 61, 72, 98]

28. Write a code to create a list with strings and print the element at the third index.

---

In [34]:

fruits = ['apple', 'banana', 'cherry', 'date', 'elderberry']
print("Element at index 3:", fruits[3])

Element at index 3: date

29. Write a code to combine two dictionaries into one and print the result.

---

In [35]:

dict1 = {'name': 'Alice', 'age': 25}
dict2 = {'city': 'New York', 'country': 'USA'}
combined_dict = dict1 | dict2
print(combined_dict)

{'name': 'Alice', 'age': 25, 'city': 'New York', 'country': 'USA'}

30. Write a code to convert a list of strings into a set.

---

In [36]:

string_list = ['apple', 'banana', 'apple', 'cherry', 'banana']
string_set = set(string_list)
print(string_set)

{'banana', 'cherry', 'apple'}